.addNewEventContainer {
  background-color: white;
  border: 1px solid black;
  width: 50%;
  padding-bottom: 10px;
  border-radius: 5px;
  position: absolute;
  top: 150px;
  left: 350px;
}
.header {
  margin: 0;
  background-color: skyblue;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header > p {
  margin: 0;
  color: white;
  font-family: Roboto;
  font-size: 24px;
}
.mainContent {
  margin: 20px;
  /* position: absolute; */
}

.flexdisplay {
  text-align: center;
  position: relative;
  left: 20px;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.fields {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.fields_bottom > label {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.fields_bottom > textarea {
  position: relative;
  left: 20px;
  font-family: Roboto;
}
.btn {
  background-color: white;
  border: 1px solid black;
  color: skyblue;
  padding: 5px;
  position: relative;
  left: 95px;
}

.btn:hover {
  background-color: skyblue;
  color: black;
  cursor: pointer;
}

.footer > p {
  text-align: center;
}
.footer {
  width: 300px;
  position: relative;
  left: 250px;
}
